// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

@media (max-width: 1900px) {
  .sponsor-big-desktop {
    display: none;
  }
}

@media (min-width: 1901px) {
  .sponsor-desktop {
    display: none;
  }
}

@media (max-width: 480px) {
  .sponsor-desktop {
    display: none;
  }
}

@media (min-width: 481px) {
	.sponsor-mobile {
		display: none;
	}
}

@media (max-width: 1900px) {
	#left-sidebar-carousel {
		display: none;
	}
}

@media (max-width: 1900px) {
	#sponsor-right-sidebar {
		display: none;
	}
}

.sponsor-header {
    padding-top: 55px;
}

.sponsor-mobile.sponsor-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

#left-sidebar-carousel {
  padding-top: 55px; position: fixed; left: 0; top: 50%; transform: translate(0, -50%); height: 100vh;
}

#sponsor-right-sidebar {
  padding-top: 55px; position: fixed; right:0; top: 50%; transform: translate(0, -50%); height: 100vh;
}

.hb-footer {
  display: none;
}

.hb-back-to-top {
  z-index: 2;
}

.video-shortcode {
  max-width: 100%;
  height: auto;
}

/*! purgecss end ignore */
