// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

@media (max-width: 480px) {
  .sponsor-desktop {
    display: none;
  }
}

@media (min-width: 481px) {
	.sponsor-mobile {
		display: none;
	}
}

.sponsor-header {
    padding-top: 55px;
}

.sponsor-mobile.sponsor-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}  

.video-shortcode {
  max-width: 100%;
  height: auto;
}
  
/*! purgecss end ignore */
