// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

@media (max-width: 1900px) {
  .sponsor-big-desktop {
    display: none;
  }
}

@media (min-width: 1901px) {
  .sponsor-desktop {
    display: none;
  }
}

@media (max-width: 480px) {
  .sponsor-desktop {
    display: none;
  }
}

@media (min-width: 481px) {
	.sponsor-mobile {
		display: none;
	}
}

@media (max-width: 1900px) {
	#left-sidebar-carousel, #right-sponsor-sidebar {
		display: none;
	}
}

.navbar {
  max-width: 1300px;
  margin: auto;
}

.sponsor-header {
  padding-top: 60px;
  max-width: 1300px;
  margin: auto;
}

.hb-footer {
  max-width: 1300px;
  margin: auto;
}

.sponsor-mobile.sponsor-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

#left-sidebar-carousel {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: fit-content;
  width: -moz-fit-content;
  max-height: 100vh;
}

#right-sponsor-sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: fit-content;
  width: -moz-fit-content;
  max-height: 100vh;
}

.hb-back-to-top {
  z-index: 2;
}

.video-shortcode {
  max-width: 100%;
  height: auto;
}

/*! purgecss end ignore */
